<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li class="text-danger">
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="mt-2 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <div class="form-inline mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Car #</div>
              </div>
              <%= number_field("post", "title", class: "form-control", pattern: "[0-9]*", inputmode: "numeric") %>
            </div>

            <div class="btn-group btn-group-toggle ml-sm-3 mt-2 mt-sm-0" data-toggle="buttons">
              <label class="btn btn-secondary pl-4 pr-4 active">
                X
                <%= radio_button("post", "car_end", "X", { checked: true }) %>
              </label>
              <label class="btn btn-secondary pl-4 pr-4">
                Y
                <%= radio_button("post", "car_end", "Y") %>
              </label>
            </div>
          </div>

          <div class="form-group">
            <%= text_area("post", "body", class: "form-control", placeholder: "What's special about today?", rows: 4) %>
          </div>

          <div class="form-group">
            <%= f.button :submit, class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
