<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <div class="btn-group btn-block">
      <a class="btn btn-light" data-toggle="collapse" href="#stats-container" role="button" aria-expanded="false" aria-controls="stats-container">
        Show Stats
      </a>
      <%= link_to "New Post", new_post_path(), { class: "btn btn-primary" } %>
    </div>
  </div>
</div>

<div class="row collapse" id="stats-container">
  <div class="col-md-8 offset-md-2">
    <div class="card-group mt-2">
      <div class="card col-md-4">
        <div class="card-body text-center">
          <h5 class="card-title"><%= @posts_count %></h5>
          <p>Posts</p>
        </div>
      </div>
      <div class="card col-md-4 text-center">
        <div class="card-body">
          <h5 class="card-title"><%= @cars_ridden %></h5>
          <p>Cars Ridden</p>
        </div>
      </div>
      <div class="card col-md-4 text-center">
        <div class="card-body">
          <h5 class="card-title"><%= @matched_cars %></h5>
          <p>Cars with more than one ride</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @grouped_posts.length > 0 %>
      <% @grouped_posts.each do |key, posts| %>
      <div class="card mt-2">
        <h5 class="card-header">Car <%= key %></h5>

        <ul class="list-group list-group-flush">
          <%  posts.each do |post| %>
          <li class="list-group-item">
            <span class="card-text"><%= raw(post.body).truncate(100) %></span>
            <span class="card-text text-muted">(<%= post.created_at.strftime('%b %d, %Y') %>)</span>
            <%= link_to "Read More", post_path(post), { class: "btn btn-link float-right" } %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <% else %>
      <div class="card border-primary mt-2">
        <div class="card-body">
          <h2 class="card-heading">You haven't logged any rides yet.</h2>
          <p class="text-muted">BART Journal allows you to keep a daily journal based on your commute. Know the last time you were on your BART car and what you were thinking about.</p>
          <%= link_to 'Add New Post', new_post_path(), { class: 'card-link' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
